#alphabet {
  display: block;
  width: 800px;
  margin: 0 auto;
  padding-left: 60px;
  color: var(--black);
}

#alphabet p {
  display: flex;
  width: 15%;
  font-size: 0.9rem;
}

.alphabet-vowel {
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.alphabet_consonant {
  display: flex;
  align-items: center;
}

.alphabet_consonant-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100px;
  width: 580px;
}

.alphabet_vowel-letter,
.alphabet_consonant-letter {
  display: flex;
  margin-left: 8px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  font-weight: 800;
  opacity: 0.6;
}

.alphabet_vowel-letter.active,
.alphabet_consonant-letter.active {
  background-color: var(--white);
  opacity: 1;
}

.alphabet_vowel-letter.active:hover,
.alphabet_consonant-letter.active:hover {
  background-color: var(--yellow);
  cursor: pointer;
  transition: all 0.3s;
}

.alphabet_vowel-letter.clicked,
.alphabet_consonant-letter.clicked {
  background-color: transparent;
  opacity: 1;
}
