@font-face {
  font-family: "SuperPlayful";
  src: url("../assets/SuperPlayful-e91WO.ttf");
}

:root {
  --password_letter-height: 48px;
  --password_letter-width: 40px;
}

#password_area {
  height: 350px;
  width: 930px;
  margin: auto;
}

.password_area-container {
  height: 340px;
  border-radius: 5px;
  margin: 25px auto 0;
  color: #242424;
}
.password_area-letters_wraper {
  width: 920px;
  height: 290px;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.password_area-letter {
  font-family: "SuperPlayful", sans-serif;
  background-color: var(--blue_light);
  border: 2px solid var(--black);
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  font-size: 1.8rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  width: var(--password_letter-width);
  height: var(--password_letter-height);
}

.password_area-letter.active {
  background-color: var(--white);
}
.password_area-letter .input,
.password_area-letter .guessInput {
  background-color: var(--white);
  font-family: "SuperPlayful", sans-serif;
  font-weight: 800;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border: none;
  border-radius: 2px;
  text-align: center;
}

.password_area-letter input:focus {
  border: none;
  outline: none;
}

.password_area-letter.used_letter {
  background-color: var(--yellow_light);
}

/* CATEGORY */
.password_area-category {
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  /* width: 240px; */
  margin: auto;
  letter-spacing: 1px;
}
