#game_components {
  height: 0px;
}

button#start,
button#add_players,
button#confirm_password,
button#next_round {
  position: absolute;
  top: 380px;
  justify-content: center;
  align-items: center;
}
button#confirm_password,
button#next_round {
  border-width: 5px;
  border-color: var(--yellow);
  color: var(--yellow);
}
