header {
  background-color: rgba(56, 56, 56, 0.4);
  color: white;
  height: 60px;
  padding: 4px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: var(--text_shadow);
}

header h1 {
  font-size: 1.4rem;
}

nav {
  display: flex;
  font-size: 0.8rem;
  justify-content: flex-end;
}

nav div {
  color: var(--white);
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 8px;
  margin-left: 12px;

  &:hover {
    color: var(--yellow);
  }
}
