@font-face {
  font-family: "SuperPlayful";
  src: url("SuperPlayful-e91WO.ttf");
}

:root {
  --password_letter-height: 48px;
  --password_letter-width: 40px;
}

#password_area {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  padding: 10px 0;
  width: calc(var(--password_letter-width) * 20 + 38px);
  height: calc(var(--password_letter-height) * 5 + 34px);
  justify-content: space-around;
  align-items: center;
}

.password_area-letter {
  font-family: "SuperPlayful", sans-serif;
  background-color: rgb(153, 239, 250);
  border: 1px solid rgb(17, 43, 49);
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  font-size: 2rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  width: var(--password_letter-width);
  height: var(--password_letter-height);
}

.password_area-letter.active {
  background-color: rgb(255, 255, 255);
}
