#players {
  width: 800px;
  flex-direction: column;
  margin: 20px auto;
}

.players_wrapper {
  display: flex;
}

.players_container {
  display: flex;
  margin-bottom: 5px;
}

.player {
  background-color: #fff;
  background-size: 4px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  font-size: 1rem;
  padding: 20px 35px;
  margin-right: 5px;
  transition: all 235ms ease-in-out;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.player:hover,
.player.active:hover {
  background-color: var(--blue_light);
  cursor: pointer;
  transition: all 0.3s;
}

.player.active {
  background-color: rgb(153, 239, 250);
}

.hearts_container {
  display: flex;
  margin-left: 36px;
  font-size: 2rem;
  align-items: center;
  order: 1;
}

.stats {
  display: flex;
  height: 220px;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--blue);
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  padding: 20px 35px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  height: 120px;
  padding: 20px 0;
}
