* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* American Palette */
  --blue: #0984e3;
  --blue_light: #81ecec;
  --black: #2d3436;
  --white: #f3f3f3;
  --secendery_color: #55efc4;
  --yellow: #fdcb6e;
  --yellow_light: #ffeaa7;
  --grey: #636e72;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#game {
  height: 100%;
  position: relative;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#game_components {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.player_name-area {
  display: none;
  flex-direction: column;
  padding: 20px 40px;
  justify-content: space-around;
  background-color: aquamarine;
  position: absolute;
  width: 300px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none !important;
}

.display {
  display: block !important;
}

.button-55 {
  align-self: center;
  background-color: var(--grey);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.show_button {
  background-color: var(--white);
  transition: all 235ms ease-in-out;
  pointer-events: all;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    color: #0984e3;
  }

  &:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}
